//colors
$primary:black;
$secondary: #6c757d;
$font-family-base: 'EB Garamond', serif;
$headings-font-family:'Roboto Condensed', sans-serif;
$headings-color: $primary;
$list-group-bg: rgba(0,0,0,0);
$light: #e9ecef;
$border-color: $primary;
$dropdown-border-color:$primary;

.site-footer a {
    color: $light;
}

//spacing
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$list-group-item-padding-x: 0px;
$list-group-item-padding-y: $spacer * .25;


$link-decoration: none;
$link-hover-decoration: underline;
$link-hover-color: $secondary;

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  }

#logo {
  max-width: 70%;
  max-height: 70%;
  width: auto;
  height: auto;
}

.flair-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 2;
  .flair {
    font: bold 15px sans-serif;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    transform:      rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 15px;
    left: -30px;
    width: 120px;
    background-color: $primary;
    color: #fff;
  }
}



/* ---- grid ---- */




/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 32%;
  margin-bottom: 2%;
  float: left;
}


/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.gutter-sizer { width: 2%; }

.grid-item--width2 { width:  66%; }
.grid-item--width3 { width:  100%; }



.highlight {
  position: relative;
}

.highlight::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border: 4px solid $primary;
}

.objave {
  z-index: 2;
}


.panel {
  border:1px solid #fff;
  border-radius:10px;
  background-color:#fff;
  box-shadow:0px 1px 3px #ccc;
}

//form

#form .title {
  display: none;
}

.steps ul {
  padding: 0px;
  margin: 0 15px;
}

.steps ul li {
  border: 1px solid $primary;
  list-style-type:none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 15px;
  display: inline-block;
}

.steps .current {
  background-color: $primary;
}

.steps .current a {
  color: #fff;
}

.actions ul {
  padding: 0px;
  text-align: right;
}

.actions ul li {
  list-style-type:none;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}





@import './bootstrap/scss/bootstrap';